body {
    font-family: 'sans-serif';
    background-color: #a1a1a1;
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
.main-image {
      width: 600px;
      height: 450px;
      object-fit: cover;
      display: block;
      margin-bottom: 10px;
    }
.thumbnails {
      display: flex;
    }
 
.thumbnails img {
      width: 80px;
      height: 50px;
      object-fit: cover;
      margin-right: 5px;
      border: 2px solid transparent;
}
 
.thumbnails img:hover {
      border-color: rgb(65, 65, 65);
      cursor: pointer;
}