body {
    font-family: 'sans-serif';
    background-color: #a1a1a1;
    margin: 0;
    padding: 0;
}
.mainImage {
      width: 400px;
      height: 250px;
      object-fit: cover;
      display: block;
      margin-bottom: 10px;
    }
 
    .imgOne, .imgTwo, .imgThree, .imgFour {
      width: 80px;
      height: 50px;
      object-fit: cover;
      cursor: pointer;
      margin-right: 5px;
      border: 2px solid transparent;
    }
 
    .imgOne:hover, .imgTwo:hover, .imgThree:hover, .imgFour:hover {
      border-color: rgb(65, 65, 65);
    }